<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6">
      
      <img src="https://upload.wikimedia.org/wikipedia/en/b/b2/Kanye_West_and_Ty_Dolla_Sign_%28%C2%A5%24%29_%E2%80%93_Vultures.png" />
    </ion-col>
    <ion-col size="12" size-md="6">
      <h1>ULTIMO ALBUM DE KANYE WEST: VULTURES</h1>
      <p>Vultures is the upcoming debut studio album by the American hip hop superduo ¥$, composed of Kanye West and Ty Dolla Sign. It is scheduled to be released on December 31, 2023. The album features potential guest appearances from Lil Baby, Charlie Wilson, Freddie Gibbs, Offset, Quavo, Playboi Carti, Chris Brown, Future, India Love, Nicki Minaj, Bump J, Lil Durk, Lil Wayne, Bad Bunny, Kodak Black, Young Thug, Leon Bridges, Kid Cudi and West's daughter North West. Production was handled by West and Ty Dolla Sign, among others. It serves as a follow-up to both artists' respective 2021 albums, Donda and Cheers to the Best Memories, and also marks their first independent studio album. It is West's first project since his series of antisemitic statements made in late 2022.</p>
    </ion-col>
  </ion-row>
</ion-grid>
