<ion-grid>
  <ion-row>
    <ion-col size-sm="12" size-md="6" size-lg="4">
      LETRA TE EXTRAÑO DE LUIS MIGUEL: Te extraño
      Como se extrañan las noches sin estrellas
      Como se extrañan las mañanas bellas
      No estar contigo, por Dios que me hace daño
      Te extraño
      Cuando camino, cuando lloro, cuando río
      Cuando el sol brilla, cuando hace mucho frío
      Porque te siento como algo muy mío
      Te extraño
      Como los árboles extrañan el otoño
      En esas noches que no concilio el sueño
      No te imaginas, amor, cómo te extraño
      Te extraño
      En cada paso que siento solitario
      Cada momento que estoy viviendo a diario
      Estoy muriendo, amor, porque te extraño
      Extraño
      Cuando la aurora comienza a dar colores
      Con tus virtudes, con todos tus errores
      Por lo que quieras, no sé, pero te extraño
      Te extraño
      En cada paso que siento solitario
      Cada momento que estoy viviendo a diario
      Estoy muriendo amor porque te extraño
      Extraño
      Cuando la aurora comienza a dar colores
      Con tus virtudes, con todos tus errores
      Por lo que quieras, no sé, pero te extraño

    </ion-col>
    <ion-col size-sm="12" size-md="6" size-lg="4">
LETRA DE CULPABLE O NO DE LUIS MIGUEL: Precisamente ahora que tú ya te has ido
Me han dicho que has estado engañándome
¿Por qué de pronto tienes tantos enemigos?
¿Por qué tengo que andar disculpándote?
Si ellos están mintiendo, por favor defiéndete
Yo sé que no lo harás, pues dicen la verdad
Es una pena siempre seguirás doliéndome
Y culpable o no
¿Qué le puedo hacer ya?
Miénteme como siempre
Por favor miénteme
Necesito creerte
Convénceme
Miénteme con un beso
Que parezca de amor
Necesito quererte
Culpable o no
No tengo ya derecho a reprocharte nada
Pues nada queda ya de ti, de mí, de ayer
Qué pena, nuestra historia pudo ser fantástica
Y ahora dime mi amor
¿Quién te va a defender?
Miénteme como siempre
Por favor miénteme
Necesito creerte
Convénceme
Miénteme con un beso
Que parezca de amor
Necesito quererte
Culpable o no
Miénteme como siempre
Por favor miénteme
Necesito creerte
Convénceme
Miénteme con un beso
Que parezca de amor
Necesito quererte
Culpable o no  
    </ion-col>
    <ion-col size-sm="12" size-md="6" size-lg="4">
      LETRA DE TENGO TODO EXCEPTO A TI DE LUIS MIGUEL:
      Oh oh oh
      Se ve que no te voy
      Se ve que no me vas
      Se ve que en realidad solo me quieres
      Como a un amigo más
      Como algo de siempre
      Ya ves me equivoqué
      Creí que era feliz
      Pensaba que yo lo tenía todo
      Tantos amigos, caprichos amores locos
      Tengo todo excepto a ti
      Y el sabor de tu piel
      Bella como el sol de abril
      Qué absurdo el día en que soñé
      Que eras para mí
      Tengo todo excepto a ti
      Y la humedad de tu cuerpo
      Tú me has hecho porque sí
      Seguir las huellas de tu olor
      Loco por tu amor
      Se ve que no te voy
      Se ve que no me vas
      Pues tengo todo menos tu mirada
      Y sin tus ojos
      Mis ojos ya no ven nada
      Tengo todo excepto a ti
      Y el sabor de tu piel
      Bella como el sol de abril
      Qué absurdo el día en que soñé
      Que eras para mí
      Me sobra juventud
      Me muero por vivir
      Pero me faltas tú
      Tengo todo excepto a ti
      Y la humedad de tu cuerpo
      Tú me has hecho porque sí
      Seguir las huellas de tu olor
      Loco por tu amor
      Por tu amor
      Sin tu amor
      Por tu amor
      Oh oh
      Oh oh
      Por tu amor
      Por tu amor
    </ion-col>
  </ion-row>
  </ion-grid>
